In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
from scipy.stats import linregress
import json

In [91]:
fifteen_csv = "Resources/2015.csv"
fifteen_df = pd.read_csv(fifteen_csv)
fifteen_df = fifteen_df[["Country", "Happiness Rank", "Happiness Score", "Family", "Health (Life Expectancy)",
                         "Freedom", "Trust (Government Corruption)", "Generosity"]]
fifteen_df = fifteen_df.rename(columns={"Happiness Rank": "Rank (2015)",
                                        "Happiness Score": "Happiness Score (2015)",
                                        "Family": "Family (2015)",
                                        "Health (Life Expectancy)": "Health (2015)",
                                        "Freedom": "Freedom (2015)",
                                       "Trust (Government Corruption)": "Perceptions of Corruption (2015)",
                                       "Generosity": "Generosity (2015)"})
fifteen_df.head()

,Country,Rank (2015),Happiness Score (2015),Family (2015),Health (2015),Freedom (2015),Perceptions of Corruption (2015),Generosity (2015)
0,Switzerland,1,7.587,1.34951,0.94143,0.66557,0.41978,0.29678
1,Iceland,2,7.561,1.40223,0.94784,0.62877,0.14145,0.43630
2,Denmark,3,7.527,1.36058,0.87464,0.64938,0.48357,0.34139
3,Norway,4,7.522,1.33095,0.88521,0.66973,0.36503,0.34699
4,Canada,5,7.427,1.32261,0.90563,0.63297,0.32957,0.45811

In [92]:
sixteen_csv = "Resources/2016.csv"
sixteen_df = pd.read_csv(sixteen_csv)
sixteen_df = sixteen_df[["Country", "Happiness Rank", "Happiness Score", "Family", "Health (Life Expectancy)",
                         "Freedom", "Trust (Government Corruption)", "Generosity"]]
sixteen_df = sixteen_df.rename(columns={"Happiness Rank": "Rank (2016)",
                                        "Happiness Score": "Happiness Score (2016)",
                                        "Family": "Family (2016)",
                                        "Health (Life Expectancy)": "Health (2016)",
                                        "Freedom": "Freedom (2016)",
                                       "Trust (Government Corruption)": "Perceptions of Corruption (2016)",
                                       "Generosity": "Generosity (2016)"})
sixteen_df.head()

,Country,Rank (2016),Happiness Score (2016),Family (2016),Health (2016),Freedom (2016),Perceptions of Corruption (2016),Generosity (2016)
0,Denmark,1,7.526,1.16374,0.79504,0.57941,0.44453,0.36171
1,Switzerland,2,7.509,1.14524,0.86303,0.58557,0.41203,0.28083
2,Iceland,3,7.501,1.18326,0.86733,0.56624,0.14975,0.47678
3,Norway,4,7.498,1.12690,0.79579,0.59609,0.35776,0.37895
4,Finland,5,7.413,1.13464,0.81091,0.57104,0.41004,0.25492

In [93]:
seventeen_csv = "Resources/2017.csv"
seventeen_df = pd.read_csv(seventeen_csv)
seventeen_df = seventeen_df[["Country", "Happiness.Rank", "Happiness.Score", "Family", "Health..Life.Expectancy.",
                         "Freedom", "Trust..Government.Corruption.", "Generosity"]]
seventeen_df = seventeen_df.rename(columns={"Happiness.Rank": "Rank (2017)",
                                        "Happiness.Score": "Happiness Score (2017)",
                                        "Family": "Family (2017)",
                                        "Health..Life.Expectancy.": "Health (2017)",
                                        "Freedom": "Freedom (2017)",
                                       "Trust..Government.Corruption.": "Perceptions of Corruption (2017)",
                                       "Generosity": "Generosity (2017)"})
seventeen_df.head()

,Country,Rank (2017),Happiness Score (2017),Family (2017),Health (2017),Freedom (2017),Perceptions of Corruption (2017),Generosity (2017)
0,Norway,1,7.537,1.533524,0.796667,0.635423,0.315964,0.362012
1,Denmark,2,7.522,1.551122,0.792566,0.626007,0.400770,0.355280
2,Iceland,3,7.504,1.610574,0.833552,0.627163,0.153527,0.475540
3,Switzerland,4,7.494,1.516912,0.858131,0.620071,0.367007,0.290549
4,Finland,5,7.469,1.540247,0.809158,0.617951,0.382612,0.245483

In [97]:
eighteen_csv = "Resources/2018.csv"
eighteen_df = pd.read_csv(eighteen_csv)
eighteen_df = eighteen_df[["Country or region", "Overall rank", "Score", "Social support", "Healthy life expectancy",
                         "Freedom to make life choices", "Perceptions of corruption", "Generosity"]]
eighteen_df = eighteen_df.rename(columns={"Country or region": "Country",
                                          "Overall rank": "Rank (2018)",
                                        "Score": "Happiness Score (2018)",
                                        "Social support": "Family (2018)",
                                        "Healthy life expectancy": "Health (2018)",
                                        "Freedom to make life choices": "Freedom (2018)",
                                       "Perceptions of corruption": "Perceptions of Corruption (2018)",
                                       "Generosity": "Generosity (2018)"})
eighteen_df.head()

,Country,Rank (2018),Happiness Score (2018),Family (2018),Health (2018),Freedom (2018),Perceptions of Corruption (2018),Generosity (2018)
0,Finland,1,7.632,1.592,0.874,0.681,0.393,0.202
1,Norway,2,7.594,1.582,0.861,0.686,0.340,0.286
2,Denmark,3,7.555,1.590,0.868,0.683,0.408,0.284
3,Iceland,4,7.495,1.644,0.914,0.677,0.138,0.353
4,Switzerland,5,7.487,1.549,0.927,0.660,0.357,0.256

In [99]:
nineteen_csv = "Resources/2019.csv"
nineteen_df = pd.read_csv(nineteen_csv)
nineteen_df = nineteen_df[["Country or region", "Overall rank", "Score", "Social support", "Healthy life expectancy",
                         "Freedom to make life choices", "Perceptions of corruption", "Generosity"]]
nineteen_df = nineteen_df.rename(columns={"Country or region": "Country",
                                          "Overall rank": "Rank (2019)",
                                        "Score": "Happiness Score (2019)",
                                        "Social support": "Family (2019)",
                                        "Healthy life expectancy": "Health (2019)",
                                        "Freedom to make life choices": "Freedom (2019)",
                                       "Perceptions of corruption": "Perceptions of Corruption (2019)",
                                       "Generosity": "Generosity (2019)"})
nineteen_df.head()

,Country,Rank (2019),Happiness Score (2019),Family (2019),Health (2019),Freedom (2019),Perceptions of Corruption (2019),Generosity (2019)
0,Finland,1,7.769,1.587,0.986,0.596,0.393,0.153
1,Denmark,2,7.600,1.573,0.996,0.592,0.410,0.252
2,Norway,3,7.554,1.582,1.028,0.603,0.341,0.271
3,Iceland,4,7.494,1.624,1.026,0.591,0.118,0.354
4,Netherlands,5,7.488,1.522,0.999,0.557,0.298,0.322

In [100]:
twenty_two_csv = "Resources/2019.csv"
twenty_two_df = pd.read_csv(twenty_two_csv)
twenty_two_df = twenty_two_df[["Country or region", "Overall rank", "Score", "Social support", "Healthy life expectancy",
                         "Freedom to make life choices", "Perceptions of corruption", "Generosity"]]
twenty_two_df = twenty_two_df.rename(columns={"Country or region": "Country",
                                          "Overall rank": "Rank (2022)",
                                        "Score": "Happiness Score (2022)",
                                        "Social support": "Family (2022)",
                                        "Healthy life expectancy": "Health (2022)",
                                        "Freedom to make life choices": "Freedom (2022)",
                                       "Perceptions of corruption": "Perceptions of Corruption (2022)",
                                       "Generosity": "Generosity (2022)"})
twenty_two_df.head()

,Country,Rank (2022),Happiness Score (2022),Family (2022),Health (2022),Freedom (2022),Perceptions of Corruption (2022),Generosity (2022)
0,Finland,1,7.769,1.587,0.986,0.596,0.393,0.153
1,Denmark,2,7.600,1.573,0.996,0.592,0.410,0.252
2,Norway,3,7.554,1.582,1.028,0.603,0.341,0.271
3,Iceland,4,7.494,1.624,1.026,0.591,0.118,0.354
4,Netherlands,5,7.488,1.522,0.999,0.557,0.298,0.322

In [107]:
merge_fifteen_sixteen_df = pd.merge(fifteen_df, sixteen_df, on="Country", how="outer").dropna()
merge_fifteen_sixteen_df.head()

,Country,Rank (2015),Happiness Score (2015),Family (2015),Health (2015),Freedom (2015),Perceptions of Corruption (2015),Generosity (2015),Rank (2016),Happiness Score (2016),Family (2016),Health (2016),Freedom (2016),Perceptions of Corruption (2016),Generosity (2016)
0,Switzerland,1.0,7.587,1.34951,0.94143,0.66557,0.41978,0.29678,2.0,7.509,1.14524,0.86303,0.58557,0.41203,0.28083
1,Iceland,2.0,7.561,1.40223,0.94784,0.62877,0.14145,0.43630,3.0,7.501,1.18326,0.86733,0.56624,0.14975,0.47678
2,Denmark,3.0,7.527,1.36058,0.87464,0.64938,0.48357,0.34139,1.0,7.526,1.16374,0.79504,0.57941,0.44453,0.36171
3,Norway,4.0,7.522,1.33095,0.88521,0.66973,0.36503,0.34699,4.0,7.498,1.12690,0.79579,0.59609,0.35776,0.37895
4,Canada,5.0,7.427,1.32261,0.90563,0.63297,0.32957,0.45811,6.0,7.404,1.09610,0.82760,0.57370,0.31329,0.44834

In [108]:
merge_in_seventeen_df = pd.merge(merge_fifteen_sixteen_df, seventeen_df, on="Country", how="outer").dropna()
merge_in_seventeen_df.head()

,Country,Rank (2015),Happiness Score (2015),Family (2015),Health (2015),Freedom (2015),Perceptions of Corruption (2015),Generosity (2015),Rank (2016),Happiness Score (2016),...,Freedom (2016),Perceptions of Corruption (2016),Generosity (2016),Rank (2017),Happiness Score (2017),Family (2017),Health (2017),Freedom (2017),Perceptions of Corruption (2017),Generosity (2017)
0,Switzerland,1.0,7.587,1.34951,0.94143,0.66557,0.41978,0.29678,2.0,7.509,...,0.58557,0.41203,0.28083,4.0,7.494,1.516912,0.858131,0.620071,0.367007,0.290549
1,Iceland,2.0,7.561,1.40223,0.94784,0.62877,0.14145,0.43630,3.0,7.501,...,0.56624,0.14975,0.47678,3.0,7.504,1.610574,0.833552,0.627163,0.153527,0.475540
2,Denmark,3.0,7.527,1.36058,0.87464,0.64938,0.48357,0.34139,1.0,7.526,...,0.57941,0.44453,0.36171,2.0,7.522,1.551122,0.792566,0.626007,0.400770,0.355280
3,Norway,4.0,7.522,1.33095,0.88521,0.66973,0.36503,0.34699,4.0,7.498,...,0.59609,0.35776,0.37895,1.0,7.537,1.533524,0.796667,0.635423,0.315964,0.362012
4,Canada,5.0,7.427,1.32261,0.90563,0.63297,0.32957,0.45811,6.0,7.404,...,0.57370,0.31329,0.44834,7.0,7.316,1.481349,0.834558,0.611101,0.287372,0.435540

In [116]:
merge_in_eighteen_df = pd.merge(merge_in_seventeen_df, eighteen_df, on="Country", how="outer").dropna()
merge_in_seventeen_df.count()

Country                             146
Rank (2015)                         146
Happiness Score (2015)              146
Family (2015)                       146
Health (2015)                       146
Freedom (2015)                      146
Perceptions of Corruption (2015)    146
Generosity (2015)                   146
Rank (2016)                         146
Happiness Score (2016)              146
Family (2016)                       146
Health (2016)                       146
Freedom (2016)                      146
Perceptions of Corruption (2016)    146
Generosity (2016)                   146
Rank (2017)                         146
Happiness Score (2017)              146
Family (2017)                       146
Health (2017)                       146
Freedom (2017)                      146
Perceptions of Corruption (2017)    146
Generosity (2017)                   146
dtype: int64

In [117]:
merge_in_nineteen_df = pd.merge(merge_in_eighteen_df, nineteen_df, on="Country", how="outer").dropna()
merge_in_nineteen_df.count()

Country                             140
Rank (2015)                         140
Happiness Score (2015)              140
Family (2015)                       140
Health (2015)                       140
Freedom (2015)                      140
Perceptions of Corruption (2015)    140
Generosity (2015)                   140
Rank (2016)                         140
Happiness Score (2016)              140
Family (2016)                       140
Health (2016)                       140
Freedom (2016)                      140
Perceptions of Corruption (2016)    140
Generosity (2016)                   140
Rank (2017)                         140
Happiness Score (2017)              140
Family (2017)                       140
Health (2017)                       140
Freedom (2017)                      140
Perceptions of Corruption (2017)    140
Generosity (2017)                   140
Rank (2018)                         140
Happiness Score (2018)              140
Family (2018)                       140
Health (2018)                       140
Freedom (2018)                      140
Perceptions of Corruption (2018)    140
Generosity (2018)                   140
Rank (2019)                         140
Happiness Score (2019)              140
Family (2019)                       140
Health (2019)                       140
Freedom (2019)                      140
Perceptions of Corruption (2019)    140
Generosity (2019)                   140
dtype: int64

In [118]:
merge_df = pd.merge(merge_in_nineteen_df, twenty_two_df, on="Country", how="outer").dropna()
merge_df.count()

Country                             140
Rank (2015)                         140
Happiness Score (2015)              140
Family (2015)                       140
Health (2015)                       140
Freedom (2015)                      140
Perceptions of Corruption (2015)    140
Generosity (2015)                   140
Rank (2016)                         140
Happiness Score (2016)              140
Family (2016)                       140
Health (2016)                       140
Freedom (2016)                      140
Perceptions of Corruption (2016)    140
Generosity (2016)                   140
Rank (2017)                         140
Happiness Score (2017)              140
Family (2017)                       140
Health (2017)                       140
Freedom (2017)                      140
Perceptions of Corruption (2017)    140
Generosity (2017)                   140
Rank (2018)                         140
Happiness Score (2018)              140
Family (2018)                       140
Health (2018)                       140
Freedom (2018)                      140
Perceptions of Corruption (2018)    140
Generosity (2018)                   140
Rank (2019)                         140
Happiness Score (2019)              140
Family (2019)                       140
Health (2019)                       140
Freedom (2019)                      140
Perceptions of Corruption (2019)    140
Generosity (2019)                   140
Rank (2022)                         140
Happiness Score (2022)              140
Family (2022)                       140
Health (2022)                       140
Freedom (2022)                      140
Perceptions of Corruption (2022)    140
Generosity (2022)                   140
dtype: int64

In [119]:
merge_df.head()

,Country,Rank (2015),Happiness Score (2015),Family (2015),Health (2015),Freedom (2015),Perceptions of Corruption (2015),Generosity (2015),Rank (2016),Happiness Score (2016),...,Freedom (2019),Perceptions of Corruption (2019),Generosity (2019),Rank (2022),Happiness Score (2022),Family (2022),Health (2022),Freedom (2022),Perceptions of Corruption (2022),Generosity (2022)
0,Switzerland,1.0,7.587,1.34951,0.94143,0.66557,0.41978,0.29678,2.0,7.509,...,0.572,0.343,0.263,6,7.480,1.526,1.052,0.572,0.343,0.263
1,Iceland,2.0,7.561,1.40223,0.94784,0.62877,0.14145,0.43630,3.0,7.501,...,0.591,0.118,0.354,4,7.494,1.624,1.026,0.591,0.118,0.354
2,Denmark,3.0,7.527,1.36058,0.87464,0.64938,0.48357,0.34139,1.0,7.526,...,0.592,0.410,0.252,2,7.600,1.573,0.996,0.592,0.410,0.252
3,Norway,4.0,7.522,1.33095,0.88521,0.66973,0.36503,0.34699,4.0,7.498,...,0.603,0.341,0.271,3,7.554,1.582,1.028,0.603,0.341,0.271
4,Canada,5.0,7.427,1.32261,0.90563,0.63297,0.32957,0.45811,6.0,7.404,...,0.584,0.308,0.285,9,7.278,1.505,1.039,0.584,0.308,0.285

In [78]:
rank_df = merged_df[["Country", "Rank (2015)", "Rank (2016)", "Rank (2017)", "Rank (2018)", "Rank (2019)"]]
#avg_rank_df = 
rank_df.head()

,Country,Rank (2015),Rank (2016),Rank (2017),Rank (2018),Rank (2019)
0,Switzerland,1.0,2.0,4.0,5.0,6.0
1,Iceland,2.0,3.0,3.0,4.0,4.0
2,Denmark,3.0,1.0,2.0,3.0,2.0
3,Norway,4.0,4.0,1.0,2.0,3.0
4,Canada,5.0,6.0,7.0,7.0,9.0

In [79]:
Happiness_Score_df = merged_df[["Country", "Happiness Score (2015)", "Happiness Score (2016)",
                                "Happiness Score (2017)", "Happiness Score (2018)", "Happiness Score (2019)"]]
#avg_Happiness_Score_df = 
Happiness_Score_df.head()

,Country,Happiness Score (2015),Happiness Score (2016),Happiness Score (2017),Happiness Score (2018),Happiness Score (2019)
0,Switzerland,7.587,7.509,7.494,7.487,7.480
1,Iceland,7.561,7.501,7.504,7.495,7.494
2,Denmark,7.527,7.526,7.522,7.555,7.600
3,Norway,7.522,7.498,7.537,7.594,7.554
4,Canada,7.427,7.404,7.316,7.328,7.278

In [80]:
Perceptions_of_Corruption_df = merged_df[["Country", "Perceptions of Corruption (2015)", "Perceptions of Corruption (2016)",
                     "Perceptions of Corruption (2017)", "Perceptions of Corruption (2018)",
                     "Perceptions of Corruption (2019)"]]
#avg_Perceptions_of_Corruption_df = 
Perceptions_of_Corruption_df.head()

,Country,Perceptions of Corruption (2015),Perceptions of Corruption (2016),Perceptions of Corruption (2017),Perceptions of Corruption (2018),Perceptions of Corruption (2019)
0,Switzerland,0.41978,0.41203,0.367007,0.357,0.343
1,Iceland,0.14145,0.14975,0.153527,0.138,0.118
2,Denmark,0.48357,0.44453,0.400770,0.408,0.410
3,Norway,0.36503,0.35776,0.315964,0.340,0.341
4,Canada,0.32957,0.31329,0.287372,0.291,0.308