In [1]:
%matplotlib notebook

# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import scipy.stats as st
from scipy.stats import linregress
import os
import csv

In [2]:
# define variables, lists
# years of data for analysis
year_list = ['2015', '2016', '2017', '2018', '2019', '2022']

# project happiness survey categories
categories = ['Happiness Score', 'Family', 'Health', 'Freedom', 'Perceptions of Corruption', 'Generosity']

## assumption - complete happiness is an overall score of 10 with 1/5 or 2 points being the ideal for each category

In [3]:
# Load csv files containing the data from the Happiness Surveys for the years 2015 through 2019 and 2022
clean_data_df = pd.read_csv('Output_data/Happiness_df.csv')

clean_data_df

,Index,Country,Rank (2015),Happiness Score (2015),Family (2015),Health (2015),Freedom (2015),Perceptions of Corruption (2015),Generosity (2015),Rank (2016),...,Freedom (2019),Perceptions of Corruption (2019),Generosity (2019),Rank (2022),Happiness Score (2022),Family (2022),Health (2022),Freedom (2022),Perceptions of Corruption (2022),Generosity (2022)
0,0,Switzerland,1.0,7.587,1.34951,0.94143,0.66557,0.41978,0.29678,2.0,...,0.572,0.343,0.263,4.0,7.512,1.226,0.822,0.677,0.461,0.147
1,1,Iceland,2.0,7.561,1.40223,0.94784,0.62877,0.14145,0.43630,3.0,...,0.591,0.118,0.354,3.0,7.557,1.320,0.803,0.718,0.191,0.270
2,2,Denmark,3.0,7.527,1.36058,0.87464,0.64938,0.48357,0.34139,1.0,...,0.592,0.410,0.252,2.0,7.636,1.243,0.777,0.719,0.532,0.188
3,3,Norway,4.0,7.522,1.33095,0.88521,0.66973,0.36503,0.34699,4.0,...,0.603,0.341,0.271,8.0,7.365,1.239,0.786,0.728,0.474,0.217
4,4,Canada,5.0,7.427,1.32261,0.90563,0.63297,0.32957,0.45811,6.0,...,0.584,0.308,0.285,15.0,7.025,1.188,0.783,0.659,0.368,0.217
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
111,132,Ivory Coast,151.0,3.655,0.77115,0.15185,0.46866,0.17922,0.20165,139.0,...,0.352,0.090,0.154,88.0,5.235,0.442,0.322,0.451,0.124,0.149
112,133,Burkina Faso,152.0,3.587,0.85188,0.27125,0.39493,0.12832,0.21747,145.0,...,0.255,0.113,0.177,113.0,4.670,0.565,0.320,0.382,0.126,0.186
113,134,Afghanistan,153.0,3.575,0.30285,0.30335,0.23414,0.09719,0.36510,154.0,...,0.000,0.025,0.158,146.0,2.404,0.000,0.289,0.000,0.005,0.089
114,136,Benin,155.0,3.340,0.35386,0.31910,0.48450,0.08010,0.18260,153.0,...,0.349,0.082,0.175,115.0,4.623,0.064,0.335,0.479,0.230,0.127
115,139,Togo,158.0,2.839,0.13995,0.28443,0.36453,0.10731,0.16681,155.0,...,0.293,0.085,0.177,135.0,4.112,0.322,0.360,0.292,0.132,0.174

In [4]:
# Select country for column, append data later
country_data_df = pd.DataFrame(clean_data_df[['Country']])

country_data_df

          Country
0     Switzerland
1         Iceland
2         Denmark
3          Norway
4          Canada
..            ...
111   Ivory Coast
112  Burkina Faso
113   Afghanistan
114         Benin
115          Togo

[116 rows x 1 columns]

In [5]:
# define loop variables
## for the year testing
test_year = year_list[1]
## create the column for testing
col = f'{loop_category} ({test_year})'
## create the column for testing
top_col = f'{top_category} ({test_year})' 

(f"output_data/{col}.png")

NameError: name 'loop_category' is not defined

In [ ]:
loop_category = categories[2] # Health Happiness Score
top_category = categories[0]  # Overall Happiness Score

In [ ]:
c = 0
i = 0

loop_category = categories[2] # Health Happiness Score
top_category = categories[0]  # Overall Happiness Score
  
for category in categories:  
    i = 0
    for yr in year_list:
        
    # define loop variables
        ## for the year testing
        test_year = year_list[i]
        ## create the column for testing
        col = f'{loop_category} ({test_year})'
        ## create the column for testing
        top_col = f'{top_category} ({test_year})' 

    # sort by the category value and create DataFrame for plotting
        clean_data_df_sorted = clean_data_df.sort_values(f'{top_col}', ascending=False)    

    # for Overall Happiness Score (x-values) and Category Scores (y_values) for the Years selected
            ## values for plotting
        x_values = clean_data_df_sorted[f'{top_col}']
        y_values = clean_data_df_sorted[f'{col}']

    # statistics
        (slope, intercept, rvalue, pvalue, stderr) = linregress(x_values, y_values)
        regress_values =x_values * slope + intercept

    # set up the y=mx+b detail to overlay the scatter plot
        slope_intercept = 'y = ' + str(round(slope,3)) + 'x +' + str(round(intercept,3))  ## y = mx + b

    # plot details, add annotation, add chart features
        plt.figure()
        plt.scatter(x_values, y_values, s=150, marker='o', edgecolors='Black', c='Teal')
        plt.plot(x_values, regress_values, 'r-') ##'r-' is a red line

        plt.annotate(slope_intercept, (0.2,6), fontsize=20, color="red")

    # set title, labels, grid, then save and present the data
        plt.title(f'{loop_category} vs Overall Happiness Scores for {test_year}', fontsize=18, weight='bold')           
        plt.xlabel(f'{top_col} score', fontsize=14, weight='bold')
        plt.ylabel(f'{col} score', fontsize=14, weight='bold')
        plt.grid(color='gray', linestyle='-', linewidth=0.2)

    # print r value and pvalue
        print(f'For the Happiness Survey Year {test_year}')
        print(f'The r-value is: {round(rvalue**2,3)} and the pvalue is: {round(pvalue**2,3)}')
        print(f'The slope intercept is: {slope_intercept}')

    # Save the figure
        plt.savefig(f"output_data/{col}.png")

    # present the data
        plt.show()
    # and create chart for the next year
        i += 1
# test next category
c += 1